# Build artifacts
**/build/
**/bin/
*.class
*.jar
*.tmp

# Local libraries
/lib/

# Local environment
.env

# Eclipse workspace
.metadata/
RemoteSystemsTempFiles/
.recommenders/

# OS specific
Thumbs.db
.DS_Store

